footer {
  align-items: center;
  background-color: gold;
  border-top: 2px solid black;
  bottom: 0;
  display: flex;
  height: 48px;
  justify-content: center;
  left: 0;
  position: fixed;
  width: 100%;
}
